In [6]:
import pandas as pd
import re
from datasets import Dataset

In [3]:
# Load Dataset
naruto_trans_df = pd.read_csv('data/naruto.csv')
naruto_trans_df.head()

      name                                               line
0   Naruto   (Laughing) Give it up. (Shows the stone faces...
1  Hiruzen   (Turns away from his writing) I hope you’re n...
2    Ninja                                       Naseer Sabah
3    Ninja                        is the best person on earth
4   Naruto                                               muah

In [4]:
def remove_paranthesis(text):
    result = re.sub(r'\(.*?\)', '', text)
    return result

In [7]:
naruto_trans_df['line'] = naruto_trans_df['line'].apply(remove_paranthesis)

In [9]:
naruto_trans_df.head()

      name                                               line
0   Naruto    Give it up.  You’re just bent, because you d...
1  Hiruzen    I hope you’re not bothering me with some tri...
2    Ninja                                       Naseer Sabah
3    Ninja                        is the best person on earth
4   Naruto                                               muah

In [10]:
naruto_trans_df['number_of_words'] = naruto_trans_df['line'].str.strip().str.split(" ")
naruto_trans_df['number_of_words'] = naruto_trans_df['number_of_words'].apply(lambda x: len(x))

In [11]:
naruto_trans_df.head()

      name                                               line  number_of_words
0   Naruto    Give it up.  You’re just bent, because you d...               26
1  Hiruzen    I hope you’re not bothering me with some tri...               16
2    Ninja                                       Naseer Sabah                2
3    Ninja                        is the best person on earth                6
4   Naruto                                               muah                1

In [12]:
naruto_trans_df['naruto_response_flag'] = 0
naruto_trans_df.loc[(naruto_trans_df['name'] == 'Naruto')&(naruto_trans_df['number_of_words']>5), 'naruto_response_flag']=1

In [13]:
naruto_trans_df.head()

,name,line,number_of_words,naruto_response_flag
0,Naruto,"Give it up. You’re just bent, because you d...",26,1
1,Hiruzen,I hope you’re not bothering me with some tri...,16,0
2,Ninja,Naseer Sabah,2,0
3,Ninja,is the best person on earth,6,0
4,Naruto,muah,1,0

In [14]:
indexes_to_take = list(naruto_trans_df[(naruto_trans_df['naruto_response_flag']==1)&(naruto_trans_df.index>0)].index)

In [15]:
indexes_to_take

[6,
 28,
 30,
 32,
 36,
 38,
 40,
 46,
 47,
 63,
 77,
 86,
 88,
 90,
 96,
 106,
 111,
 136,
 142,
 144,
 151]

In [16]:
system_prompt=""" You are Naruto from the anime "Naruto." Your response should reflect his personality
and speech patterns!"""
prompts=[]
for ind in indexes_to_take:
    prompt = system_prompt

    prompt += naruto_trans_df.iloc[ind - 1]['line']
    prompt += '\n'
    prompt += naruto_trans_df.iloc[ind]['line']
    prompts.append(prompt)

In [17]:
print(prompts[:2])

[' You are Naruto from the anime "Naruto." Your response should reflect his personality\nand speech patterns!  Oh yeah, Naruto!?\n Where’d you come from, Iruka Sensei!? What are you doing here?', ' You are Naruto from the anime "Naruto." Your response should reflect his personality\nand speech patterns! You’re not going home till you’ve cleaned off every single drop of paint.\n  So what? It’s not like there’s anyone waiting at home for me. ']

In [18]:
df = pd.DataFrame({"prompt": prompts})
df.head()

                                              prompt
0   You are Naruto from the anime "Naruto." Your ...
1   You are Naruto from the anime "Naruto." Your ...
2   You are Naruto from the anime "Naruto." Your ...
3   You are Naruto from the anime "Naruto." Your ...
4   You are Naruto from the anime "Naruto." Your ...